In [1]:
import modelBuilder as mb
import random
data = mb.importData()  # Get the data and question answer pairs

In [10]:
data

,stud_id,problem_id,incorrect,hint,duration
0,006b60bea73767757ed3907453abffb2825ff86b,Skywriter,1,0,0.000000
1,006b60bea73767757ed3907453abffb2825ff86b,a1_1_aircraft,0,0,0.000000
2,006b60bea73767757ed3907453abffb2825ff86b,a1_2_circles,1,0,0.383333
3,006b60bea73767757ed3907453abffb2825ff86b,a1_3_cards,0,0,0.000000
4,006b60bea73767757ed3907453abffb2825ff86b,a1_4_sickness,0,0,0.000000
...,...,...,...,...,...
127116,ff8cadc383e74c88c5da48a2a37df29770f54143,lsn9_practice2,10,0,7.650000
127117,ff8cadc383e74c88c5da48a2a37df29770f54143,lsn9_practice3,3,0,2.333333
127118,ff8cadc383e74c88c5da48a2a37df29770f54143,lsn9_practice4,1,5,9.266667
127119,ff8cadc383e74c88c5da48a2a37df29770f54143,pex1,2,22,60.000000
127120,ff8cadc383e74c88c5da48a2a37df29770f54143,pex3,16,0,60.000000

In [3]:
distributions = mb.distributionBuilder(data)  # build the chi-squared upper and lower bound dist for each Q
questionDifficulty = mb.difficulty(data)  # build student perceived difficulty model
problem = mb.startingQ(data, questionDifficulty)
# student = Student(problemNum, problem, answer)  # Initialize student with the starting problem and answer

In [9]:
df = mb.convertSQLtoClean(data)

AttributeError: 'DataFrame' object has no attribute 'Time'

In [8]:
dayda = df.loc[(df.problem_id == "lsn6_math") & (df.stud_id == "dee9256848fdca4942f5f3243ace75be0f7f64c9")]
qData = mb.convertSQLtoClean(dayda)
problem, questionDifficulty, distributions = main.initialize()

NameError: name 'df' is not defined

In [5]:
questionDifficulty = mb.difficulty(data)

In [6]:
# questionDifficulty[questionDifficulty.difficulty == 0]

In [7]:
problem = mb.startingQ(data, questionDifficulty)

In [9]:
import main
problem, questionDifficulty, distributions = main.initialize()

In [10]:
problem

'a2_5_network_traffic'

In [11]:
questionDifficulty

                    problem_id  difficulty
0             lsn23_soundboard    0.000000
1           lsn22_bouncingball    0.000000
2                    a2_4_ques    0.000000
3                     a1_7_dog    0.000000
4             a1_7_pilot_quals    0.000000
..                         ...         ...
395  lsn15_survivors_by_gender    0.723231
396                 lsn24_nasa    0.738894
397                 Lsn7_lists    0.887108
398                 to_the_end    0.908658
399                       pex1    1.000000

[400 rows x 2 columns]

In [12]:
distributions

,incorrectLower,hintLower,durationLower,incorrectUpper,hintUpper,durationUpper
problem_id,,,,,,
CAESAR,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
Caesar_gc,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
Lsn5_skill1,2.000000,0.000000,1.366667,2.000000,0.000000,1.366667
Lsn7_lists,8.000000,2.000000,23.033333,8.000000,2.000000,23.033333
PEX1,0.795876,12.708597,37.655661,1.408248,22.582806,55.188679
...,...,...,...,...,...,...
pex2,1.706114,-0.067328,13.559933,2.985732,0.440779,33.602074
pex2_gc,2.390562,-0.062892,18.511964,4.523960,0.380021,39.120139
pex3,8.355244,0.000000,55.035533,13.726760,0.000000,63.257881
skywriter,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
to_the_end,3.125000,8.375000,60.000000,4.250000,11.750000,60.000000